body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

button {
    height: 30px;
    width: 80px;
}

.second-section img {
    flex: auto;
    max-width: 500px;
    border: 5px solid salmon;
}

button {
    background-color: #3882F6;
    color:#F9FAF8;
    border-radius: 8px;
    align-self: flex-start;
    border:#3882F6;
    margin-top: 8px;
}

.second-section {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 64px;
}

.left {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.left .subtext {
    font-size: 18px;
    color:#e5e7eb;
    flex: 0 1 auto;
    max-width: 400px;
}

.left .hero {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    flex-shrink: 0;
    max-width: 350px;
    align-self: flex-start;
}

.header {
    background-color: #1F2937;
    font-size: 24px;
    font-weight:800;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header .link {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 100;
}

.third-section img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 7%;
    border: 5px solid #3882f6;
}

.info {
    max-width: 200px;
    padding-bottom: 96px;
    font-size: 18px;
    color: #929393;
}

.third-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 52px;
    text-align: center;
}

#info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    padding: 32px;
}

.fourth-section {
    background-color: #e5e7eb;
    padding: 128px;
    display: flex;
    justify-content: center;
}

.fourth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: fit-content;
}

.fourth-section .quote {
    font-size: 36px;
    font-weight: 100;
    color:#1f2937;
    max-width: 956px;
}

.fourth-section .author {
    font-size: 21px;
    font-weight: 600;
    color:#1F2937;
    padding:16px;
    align-self: flex-end;
}

.fifth-section {
    display: flex;
    justify-content: space-evenly;
    background-color: #3882f6;
    margin: 150px;
    padding: 64px;
    color: rgb(210, 210, 210);
    border-radius: 10px;
}

.fifth-section .heading {
   font-size: 36px; 
   font-weight: 600;
   color: #F9FAF8;
}

.fifth-section button {
    border: 2px solid white;
    font-size: 22px;
    height: 40px;
    width: 120px;
}

.fifth-container {
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: #1f2937;
    padding: 40px;
    color:#F9FAF8;
    font-size: 16px;
    display: flex;
    justify-content: center;
}
